/* -------------------- AJUSTES PARA OLVIDE MI CONTRASEÑA -------------------- */

.containerOlvide {
    display: flex;
    justify-content: center;
    padding: 76px;

}

.textoOlvide {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.4;
    text-align: left;
}