td.botones button {
    background-color: #38b000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #30a500;
}

.usuario-foto2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.usuario-foto2{
    display: flex;
}