/*HECHO POR ANDRES BEJAR 20230352*/

.Acciones{
    background-color: rgb(58, 164, 34);
    border-color: transparent;
    margin: 2px;
    width: 50px;
}

img{
    width: 100px;
}
.TbProductos{
    width: 90%;
    padding: 20px;
    text-align: center;
}

td{
    border-top: solid gray 1px;
}

.ID{
    color: rgb(58, 164, 34);   
}

button{
    background-color: rgb(58, 164, 34);
    color: white;
    margin-left: 20px;
}

.CabeLista{
    width: 100%;
    display: flex;
    height: 40px;
    margin-bottom: 30px;
}

.Botones{
    text-align: right;
    height: 40px;
}

.CabeLista input{
    width: 50%;
}

nav{
    text-align: right;
    margin-top: 20px;
    margin-right: 80px;
}

.TablaOrden{
    width: 95%;
    margin-left: 50px;
}

.ListaProductos{
    display: flex;
    justify-content: center;
}