/*Codigo hecho por Samantha Rodriguez*/
.resumen {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.resumen p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.resumen h2 {
  font-size: 24px;
  font-weight: bold;
}

.resumen .total {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 16px;

}

